<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Cuneiform</title>
  <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "grid", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "jquery.localscroll-1.2.7-min", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "jquery.parallax-1.1.3", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "jquery.scrollTo-1.4.2-min", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
	
	<script type="text/javascript">
	$(document).ready(function(){
		$('#nav').localScroll(800);
		$('.logo').localScroll(800);
	
	//.parallax(xPosition, speedFactor, outerHeight) options:
	//xPosition - Horizontal position of the element
	//inertia - speed to move relative to vertical scroll. Example: 0.1 is one tenth the speed of scrolling, 2 is twice the speed of scrolling
	//outerHeight (true/false) - Whether or not jQuery should use it's outerHeight option to determine when a section is in the viewport
	$('#intro').parallax("50%", 0.1);
	$('#second').parallax("50%", 0.1);
	$('.bg').parallax("50%", 0.4);
	$('#third').parallax("50%", 0.3);
	$('#fourth').parallax("50%", 0.3);
	$('#fifth').parallax("50%", 0.3);
	})
	</script>
</head>

<body>
 
		<div class="grid_12 navbar">
			<ul id="nav">
				<li><%= link_to "logo", "#intro", :class => "" %></li>
			    <li><%= link_to "projects", "#second", :class => "projects" %></li>
				<li><%= link_to "contact", "#third", :class => "contact" %></li>
				<li><%= link_to "gallary", "#fourth", :class => "gallary" %></li> 
			</ul>
	    </div>
 <div class="container clearfix">
				
			    <div id="intro">
					
					<%= render partial: "home" %>
					
				</div> <!--#intro-->
			
				<div id="second", class="projects">
			
				    <%= render partial: "projects" %>
			    
				</div> <!--#second-->
			
				<div id="third">
					
				   <%= render partial: "contact" %>

				</div> <!--#third-->
			
			 	<div id="fourth">
					
					<%= render partial: "gallary" %>
				
				</div> 

				<div id="fifth">
				
				</div> 

			
 
  </div>
</body>
</html>

</html>
