<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Cuneiform | Web Design &amp; Development</title>
  <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/earlyaccess/droidarabickufi.css' rel='stylesheet' type='text/css'>
  <%= favicon_link_tag image_path("favicon.ico") %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "grid", media: "all", "data-turbolinks-track" => true %> 
  <%= javascript_include_tag "jquery-1.10.2.min", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
  
<script>
   
<!-- JQUERY FOR SLIDING NAVIGATION -->   
$(document).ready(function() {

  $('a[href*=#]').each(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
    && location.hostname == this.hostname
    && this.hash.replace(/#/,'') ) {
      var $targetId = $(this.hash), $targetAnchor = $('[name=' + this.hash.slice(1) +']');
      var $target = $targetId.length ? $targetId : $targetAnchor.length ? $targetAnchor : false;
       if ($target) {
         var targetOffset = $target.offset().top;

<!-- JQUERY CLICK FUNCTION REMOVE AND ADD CLASS "ACTIVE" + SCROLL TO THE #DIV -->   
         $(this).click(function() {
	       
            $('html, body').animate({scrollTop: targetOffset}, 1000);
         });
      }
    }
  });
});


$(document).ready(function() {
  
 $("#nav li a, #nav-ar li a").click(function(){
	        $('#nav li a, #nav-ar li a').removeClass("active");
            $(this).addClass('active');

       });
 });

</script>

	<script type="text/javascript">
	$(document).ready(function(){
		$('#nav').localScroll(800);
		$('#logo').localScroll(800);
		$('#nav-ar').localScroll(800);
		$('#logo-ar').localScroll(800);
		//.parallax(xPosition, speedFactor, outerHeight) options:
		//xPosition - Horizontal position of the element
		//inertia - speed to move relative to vertical scroll. Example: 0.1 is one tenth the speed of scrolling, 2 is twice the speed of scrolling
		//outerHeight (true/false) - Whether or not jQuery should use it's outerHeight option to determine when a section is in the viewport
		$('#intro').parallax("50%", 0.1);
		$('#second').parallax("50%", 0.1);
		$('#third').parallax("50%", 0.3);
		// $('#fourth').parallax("50%", 0.3);
		$('#fifth').parallax("50%", 0.3);
		$('#intro-ar').parallax("50%", 0.1);
		$('#second-ar').parallax("50%", 0.1);
		$('#third-ar').parallax("50%", 0.3);
		// $('#fourth-ar').parallax("50%", 0.3);
		$('#fifth-ar').parallax("50%", 0.3);
		})



	//hover effect for navbar//


	</script>

</head>

<body>

		<% if  I18n.locale == :en %>
        <div id="logo">
			<%= link_to image_tag("cuneiform-logo.png", :size => "30x30", :alt => 'logo', :class => ""), "#intro" %>
		</div>

		<div class="navbar">
			<ul id="nav">
			    <li><%= link_to "ABOUT", "#second", :class => "projects" %></li>
				<li><%= link_to "SERVICES", "#third", :class => "contact" %></li>
				<!-- <li><%= link_to "WORK", "#fourth", :class => "gallary" %></li>  -->
				<li><%= link_to "CONTACT", "#fifth", :class => "gallary" %></li>
				<li class="arabic"><%= link_to "العربية", :locale=>'ar'%></li>
			</ul>
	    </div>
		<div>
			    <div id="intro">

					<%= render partial: "home" %>

				</div> <!--#intro-->

				<div id="second">

				    <%= render partial: "about" %>

				</div> <!--#second-->

				<div id="third">

				   <%= render partial: "services" %>

				</div> <!--#third-->


				<div id="fifth">

					<%= render partial: "contact" %>

				</div>



         </div>

    <%else%>

          <div id="logo-ar">
			<%= link_to image_tag("cuneiform-logo.png", :size => "30x30", :alt => 'logo', :class => ""), "#intro-ar" %>
		  </div>
		  	<div class="navbar-ar">
			<ul id="nav-ar">
				<li class="english"><%= link_to "English", :locale=>'en'%></li>
				<li><%= link_to "إتصل بنا", "#fifth-ar", :class => "gallary" %></li>
				<li><%= link_to "خدماتنا", "#third-ar", :class => "contact" %></li>
				<li><%= link_to "من نحن", "#second-ar", :class => "projects" %></li>
				<!-- <li><%= link_to "مشاريعنا", "#fourth-ar", :class => "gallary" %></li>  -->
				
			</ul>
	    </div>
	    <div>
			    <div id="intro-ar">

					<%= render partial: "home" %>

				</div> <!--#intro-->

				<div id="second-ar">

				    <%= render partial: "about" %>

				</div> <!--#second-->

				<div id="third-ar">

				   <%= render partial: "services" %>

				</div> <!--#third-->


				<div id="fifth-ar">

					<%= render partial: "contact" %>

				</div>


    <%end%>
</body>
</html>

